.card__container img {
  border: 2px solid #1db954;
  box-sizing: border-box;
  border-radius: 18px;
  width: 12rem;
  height: 10rem;
}

.card__container {
  display: flex;
  align-items: center;
  color: white;
  width: 50%;
  gap: 2rem;
}

.card__info {
}
