.card__container img {
  border: 1px solid #3c4f06;
  box-sizing: border-box;
  border-radius: 7px;
  width: 8rem;
  height: 8rem;
  margin: 1rem;
}

.card__container {
  display: flex;
  align-items: center;
  color: white;
  width: 50%;
  gap: 2rem;
}
a {
  text-decoration: none;
}
.card__info p {
  font-family: "Poppins";
  font-size: 0.6rem;
  width: 100%;
}

.card__info h3 {
  font-family: "Target";
  font-size: 0.9rem;
}
.card__info span {
  display: flex;
  gap: 1rem;
}

.card__info div {
  width: 100%;
  margin: 0.5rem auto;
  border: 0.5px solid rgb(9, 82, 9);
}
