.projects__container {
  height: 100vh;
  scroll-snap-align: start;
  padding: 20rem;
}

.projects__scroll {
  max-height: 90vh;
  overflow: auto;
  border: 2px solid #1db954;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 2rem;
}
