.about__container {
  padding-bottom: 5rem;
}

.center__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  margin: 0.2rem auto;
}

.center__container img {
  border-radius: 50%;
  height: 10rem;
  width: 10rem;
}

.center__container p {
  max-width: 50%;
  margin-top: 5rem;
  font-family: "Poppins";
}

.center__container h1 {
  font-family: "Target";
}
