body {
  background: linear-gradient(
    248.59deg,
    rgba(47, 75, 43, 0.95364) 0.29%,
    #191414 41.87%,
    #191414 100%
  );
  overflow-x: hidden;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins"), url("./fonts/Poppins-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Target";
  src: local("Target"),
    url("./fonts/TarrgetCondensedItalic-OXLA.otf") format("truetype");
}
